/*Import Google Fonts CSS*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lato:ital@1&family=Roboto+Mono:ital@1&display=swap');

:root{
  --dancing:"Dancing Script", cursive;
}
/*   ------- Navbar Style-------     */
.navbar-brand{
    font-family: var(--dancing);
    font-size: 0.3em;
  }
  .nav-item{
    padding-left: 30px;
  }
  .navbar{
    background-color: rgb(219, 170, 7);
  }
/*-------------------------------/Navbar-----------------------------------------*/
/*-------Carousel----------------- */
.carousel-item img{
    height: 400px !important;
  }


/*-------/Carousel----------------- */
/*---------Regions------------------*/
.panel1, .flip1 {
  padding: 5px;
  text-align: center;
  background-color: #f1f51c;
  border: solid 1px #c3c3c3;
}

.panel1 {
  padding: 50px;
   
}

.panel2, .flip2 {
  padding: 5px;
  text-align: center;
  background-color: #1190f8;
  border: solid 1px #c3c3c3;
}

.panel2 {
  padding: 50px;
   
}
.panel3, .flip3 {
  padding: 5px;
  text-align: center;
  background-color: #098992;
  border: solid 1px #c3c3c3;
}

.panel3 {
  padding: 50px;
   
}

.panel4, .flip4 {
  padding: 5px;
  text-align: center;
  background-color: #e96f79;
  border: solid 1px #c3c3c3;
}

.panel4 {
  padding: 50px;
   
}
.panel5, .flip5 {
  padding: 5px;
  text-align: center;
  background-color: #c591e7;
  border: solid 1px #c3c3c3;
}

.panel5 {
  padding: 50px;
   
}
.panel6, .flip6 {
  padding: 5px;
  text-align: center;
  background-color: #0cf0f0;
  border: solid 1px #c3c3c3;
}

.panel6 {
  padding: 50px;
   
}
.panel7, .flip7 {
  padding: 5px;
  text-align: center;
  background-color: #eff3e3;
  border: solid 1px #c3c3c3;
}

.panel7 {
  padding: 50px;
   
}
.panel8, .flip8 {
  padding: 5px;
  text-align: center;
  background-color: #f76754;
  border: solid 1px #c3c3c3;
}

.panel8 {
  padding: 50px;
   
}
/*---------/Regions*/


/*----------Icons-------------------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.9;
      color: red;
  }
  
  .fa-facebook {
    background:#125688;
    color: white;
  }
  
  .fa-twitter {
    background: rgb(55, 207, 8);
    color: white;
  }
  .fa-linkedin {
    background: #a34040;
    color: white ;
  }

  /*--------------------/Icons--------------------------*/
